//COLORS
$color-primary-red: #E50914;
$color-primary-red-light: #E71F29;
$color-primary-red-dark: #A9171E;

$color-primary-white: #fff;
$color-primary-black: #000;


//TYPOGRAPHY
$font-family-primary: 'PT Sans Narrow', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;

$font-size-large: 5rem;
$font-size-medium: 3rem;
$font-size-small: 1.6rem;

$horizontal-gutter: 3rem;