.flex-around{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.flex-center{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.col-4{
	min-width: 25rem;
	width: 23%;
}
.col-3{
	width: 32%;
	min-width: 40rem;
}
.col-2{
	min-width: 40rem;
	width: 46%;
}