.main-heading{
	background-color: $color-primary-black;
	background-image: url('/img/background-image.jpeg');
	background-size: cover;
	height: 95vh;
	min-height: 65rem;
	
	&__hero{
		display: block;
		margin: 0 auto;
		width: 50%;
	}



}
