<footer class="footer">
	<div class="footer__text">
		<p class="footer__text--cpy"> Imflix Copywright &copy; 2019 Martin Balke </p>
	</div>
	<div class="footer__icons">
		<a href="https://github.com/Martinbalke" class="footer__icons--link" target="_blank"><img src="/img/git.png"
				alt="github link" class="footer__icons--img"></a>
		<a href="https://www.linkedin.com/in/martinbalke/" class="footer__icons--link" target="_blank"><img
				src="/img/linkedin-logo.png" alt="linked in logo and link" class="footer__icons--img"></a>
		<a href="https://www.themoviedb.org/?language=en-US" class="footer__icons--link" target="_blank"><img
				src="/img/TMDB.png" alt="TMDB logo and link" class="footer__icons--img"></a>
		<a href="https://unogs.com/" class="footer__icons--link" target="_blank"><img src="/img/unogs.png"
				alt="unogs logo and link" class="footer__icons--img"></a>
</footer>