<div class="nav">
	<input type="checkbox" class="nav__checkbox" id="nav-toggle">
	<label for="nav-toggle" class="nav__btn">
		<span class="nav__icon">
			&nbsp;
		</span>
	</label>

	<div class="nav__background">&nbsp;</div>

	<nav class="nav__navigation">
		<ul class="nav__list">
			<li class="nav__item"><a href="" class="nav__link">Home</a></li>
			<li class="nav__item"><a href="" class="nav__link">Login</a></li>
			<li class="nav__item"><a href="" class="nav__link">Favorites</a></li>
		</ul>
	</nav>
</div>