<div class="search">
	<form action="/search" method="POST" class="search__form">
		<input type="text" name="search" class="search__form--input">
		<input type="submit" value="Submit" class="btn-primary">

	</form>

</div>