<div class="search">
	<form action="/search" method="GET" class="search__form" autocomplete="off">
		<i class="pe-7s-search search__form--icon"></i>
		<input type="text" name="search" class="search__form--input">
		<input type="submit" value="Submit" class="btn-primary">

	</form>

</div>