<div class="title-card flex__col-4">
	<img src="http://art-2.nflximg.net/63fac/79c52ccb0931cc50f51fd8922ecaef551d263fac.jpg" alt="Pray For Rain Poster"
		class="title-card__img">
	<div class="title-card__text">
		<h3 class="title-card__text--name">Pray For Rain</h3>
		<hr>
		<p class="title-card__text--rating">7.5</p>
		<p class="title-card__text--synopsis">Following her father's suspicious death, a New York journalist
			returns
			to her hometown, where drought and gangs have
			decimated the farming community.</p>
		<input type="submit" class="title-card__text--btn btn-primary" value="Click to see IMDB rating" id="">
	</div>