{{>header}}

<body>

	{{>nav}}
	{{>searchform}}
	<div class="search-result">
		<img src="" alt="" class="search-result__img">
		<h3 class="search-result__name"></h3>
		<p class="search-result__rating"></p>
		<p class="search-result__synopsis"></p>
	</div>
</body>
{{>footer}}

</html>