{{>header}}

<body>

	{{>nav}}
	<div class="main-heading">
		<img src="/img/logo-large.png" alt="Imflix main logo" class="main-heading__hero">
		<h1 class="main-heading__heading-primary">An open source Netflix and IMDB search aggregator
		</h1>
		<p class="main-heading__paragraph">Search below to start using our service. Be sure to register or log in to
			save your favorites</p>
		{{>searchform}}
	</div>
	{{>footer}}
</body>

</html>