{{>header}}

<body>

	{{>nav}}
	<div class="search-results">
		<div class="search-results__main">
			<img src="/img/logo-small.png" alt="Imflix logo small" class="search-results__main--logo">
			<h2 class="search-results__main__heading-secondary">{{text}}</h2>
		</div>
		{{>searchform}}
		<div class="flex-between">
			{{#each data}}
			{{>titlecard}}
			{{/each}}
		</div>


	</div>

</body>
{{>footer}}

</html>