@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:100,300,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@media only screen and (max-width: 768px) {
  html {
    font-size: 45%; } }

@media only screen and (min-width: 1824px) {
  html {
    font-size: 100%; } }

.main-heading {
  color: #fff;
  text-align: center; }
  .main-heading__heading-primary {
    font-size: 5rem;
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: -2rem; }
  .main-heading__paragraph {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100; }

.search-results__main__heading-secondary {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem; }

.search-results__none {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem; }

.footer__text {
  color: #fff;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  padding: 2rem; }
  .footer__text--cpy {
    color: rgba(255, 255, 255, 0.6); }

.footer {
  background-color: #E50914;
  position: relative;
  height: 20vh;
  text-align: center;
  min-height: 20rem; }
  .footer__text {
    position: absolute;
    bottom: 0;
    padding: 0; }
  .footer__icons {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0; }
    .footer__icons--img {
      width: 5rem;
      padding-right: 1rem; }

.search {
  margin-bottom: 3.5rem; }
  .search__form {
    margin-top: 4rem; }
    .search__form--icon {
      font-size: 3rem;
      top: 3px;
      position: relative;
      left: 4rem;
      color: rgba(0, 0, 0, 0.5); }
    .search__form--input {
      text-align: center;
      border: none;
      border-radius: 2rem;
      width: 50%;
      height: 3.5rem;
      margin-right: 1rem;
      font-weight: bold;
      font-size: 3rem;
      color: #E50914;
      outline: none;
      text-transform: uppercase; }

.btn-primary {
  background-image: radial-gradient(#E71F29, #A9171E);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  display: inline-block;
  border-radius: .5rem;
  padding: .75rem;
  border: none;
  font-weight: 700;
  transition: all .2s;
  outline: none;
  position: absolute;
  cursor: pointer;
  text-transform: uppercase; }
  .btn-primary:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4); }
  .btn-primary:active {
    transform: translateY(0px) scale(1.05);
    box-shadow: 0 0.25rem 0.5rem rgba(255, 255, 255, 0.4); }

.btn-secondary {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to right, #EFCA08, #00A6A6, #BBDEF0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-right: 5px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all .4s;
  padding: .5rem;
  border-radius: 2px; }
  .btn-secondary:hover {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-image: linear-gradient(to right, #EFCA08, #00A6A6, #BBDEF0);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75); }

.title-card {
  display: flex;
  background-color: white;
  height: 233px;
  position: relative;
  border-radius: 2px;
  margin: 2rem 0;
  transition: all .4s; }
  .title-card:hover {
    transform: translateX(1rem) scale(1.05); }
  .title-card:not(:hover) {
    transform: scale(0.95); }
  .title-card__img {
    z-index: 5;
    clip-path: polygon(0 0, 100% 0%, 59% 100%, 0% 100%); }
  .title-card__info {
    z-index: 10;
    margin-left: -2rem; }
    .title-card__info--title {
      margin-top: 6rem;
      font-family: "Montserrat", sans-serif;
      font-size: 3rem;
      background-image: linear-gradient(to right, #E71F29, #A9171E);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      max-height: 7.5rem;
      overflow: hidden; }
    .title-card__info--rating {
      display: flex;
      align-items: center;
      position: absolute;
      top: 1rem;
      right: 1rem; }
    .title-card__info--rating-text {
      font-family: "Montserrat", sans-serif;
      font-size: 1.6rem;
      background-image: linear-gradient(to right, #E71F29, #A9171E);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      padding-right: 5px; }
    .title-card__info--icon {
      background-image: radial-gradient(yellow, orange);
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      font-size: 3rem;
      color: #fff; }
    .title-card__info--overview {
      color: #000;
      font-family: "Roboto", sans-serif;
      max-height: 4rem;
      overflow: scroll;
      margin-top: 2px; }
    .title-card__info--btn {
      font-size: 2rem;
      margin-top: 2rem; }

.nav__checkbox {
  display: none; }

.nav__btn {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 100;
  text-align: center; }

.nav__background {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  background-image: radial-gradient(#E71F29, #A9171E);
  z-index: 30;
  transform: scale(7);
  display: none;
  border-radius: .5rem; }

.nav__navigation {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; }

.nav__list {
  position: absolute;
  top: 0;
  left: 4rem;
  list-style: none;
  text-align: center;
  display: none; }

.nav__item {
  margin: 1rem; }

.nav__link:link, .nav__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  background-image: linear-gradient(50deg, transparent 0%, transparent 50%, #fff 50.1%);
  background-size: 250%;
  transition: all .4s; }

.nav__link:hover, .nav__link:active {
  background-position: 100%;
  color: #E50914;
  transform: translateX(0.5rem); }

.nav__icon {
  position: relative;
  margin-top: 3.5rem; }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .nav__icon::before, .nav__icon::after {
    content: '';
    position: absolute;
    left: 0; }
  .nav__icon::before {
    top: -1rem; }
  .nav__icon::after {
    top: 1rem; }

.height {
  height: 35rem;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); }

.imdb-card {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 30rem;
  margin: 1.5rem;
  background-color: #fff;
  text-align: center; }
  .imdb-card__text {
    background-color: #fff;
    height: 23rem;
    position: relative; }
    .imdb-card__text--name {
      font-family: "Montserrat", sans-serif;
      font-size: 3rem;
      background-image: linear-gradient(to right, #E71F29, #A9171E);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
    .imdb-card__text__rating {
      display: flex;
      align-items: center;
      position: absolute;
      top: -4rem;
      right: 1rem; }
      .imdb-card__text__rating--p {
        background-image: linear-gradient(to right, #E71F29, #A9171E);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-family: "Montserrat", sans-serif;
        font-size: 3rem; }
      .imdb-card__text__rating--icon {
        background-image: radial-gradient(yellow, orange);
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        font-size: 3rem;
        color: #fff; }
    .imdb-card__text--synopsis {
      color: #000;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      max-height: 10rem;
      overflow: scroll; }
    .imdb-card__text--btn {
      font-size: 2rem;
      margin-top: 2rem;
      width: 80%; }

.main-heading {
  background-color: #000;
  background-image: url("/img/background-image.jpeg");
  background-size: cover;
  height: 95vh;
  min-height: 65rem; }
  .main-heading__hero {
    display: block;
    margin: 0 auto;
    width: 50%; }

.flex-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.col-4 {
  min-width: 25rem;
  width: 23%; }

.col-3 {
  width: 32%;
  min-width: 40rem; }

.col-2 {
  width: 46%; }

.search-results {
  background-color: #000;
  text-align: center;
  min-height: 95vh; }
  .search-results__none {
    margin-top: 7rem; }

.imdb {
  background-color: #000;
  text-align: center;
  position: relative; }
  .imdb__success {
    position: absolute;
    background-color: green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }
    .imdb__success--heading-tertiary {
      padding: 2rem;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 5rem; }

.favorites {
  background-color: #000; }
