.footer{
	background-color: $color-primary-red;
	position: relative;
	height: 20vh;
	text-align: center;
	min-height: 20rem;

	&__text{
		position: absolute;
		bottom: 0;
		padding: 0;
	}

	&__icons {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		&--img{
			width: 5rem;
			padding-right: 1rem;
		
		}

	}

}