.title-card{	

	display: flex;
	background-color: white;
	height: 233px;
	position: relative;
	border-radius: 2px;
	margin: 2rem 0;
	transition: all .4s;

	&:hover{
		transform: translateX(1rem) scale(1.05);
	}
	&:not(:hover){
		transform: scale(.95);
	}
	&__img{
		z-index: 5;
		clip-path: polygon(0 0, 100% 0%, 59% 100%, 0% 100%);
	}


	&__info{
		z-index: 10;
		margin-left: -2rem;
		&--title{
			margin-top: 6rem;
			font-family: $font-family-primary;
			font-size: $font-size-medium;
			background-image: linear-gradient(to right, $color-primary-red-light, $color-primary-red-dark);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			max-height: 7.5rem;
			overflow: hidden;
		}
		&--rating{
			display: flex;
			align-items: center;
			position: absolute;
			top: 1rem;
			right: 1rem;
		}
		&--rating-text{
			font-family: $font-family-primary;
			font-size: $font-size-small;
			background-image: linear-gradient(to right, $color-primary-red-light, $color-primary-red-dark);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			padding-right: 5px; 
		}
		&--icon{
			background-image: radial-gradient( yellow, orange);
			height: 3rem;
			width: 3rem;
			border-radius: 50%;
			font-size: 3rem;
			color: $color-primary-white;
		}

		&--overview{
			color: $color-primary-black;
			font-family: $font-family-secondary;
			max-height: 4rem;
			overflow: scroll;
			margin-top: 2px;
		}

		&--btn{
			font-size: 2rem;
			margin-top: 2rem;
			
		}

	
	}
}