@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:100,300,400&display=swap');

.main-heading {
	color: $color-primary-white;
	text-align: center;

	&__heading-primary{
		font-size: $font-size-large;
		padding: 2rem;
		font-family: $font-family-primary;
		font-weight: 400;
		margin-top: -2rem;
	}
	
	&__paragraph {
		font-size: $font-size-small;
		font-family: $font-family-secondary;
		font-weight: 100;
	}

}
.search-results{

	&__main {

		&__heading-secondary{
			color: $color-primary-white;
			font-family: $font-family-primary;
			font-size: $font-size-medium;
		}
	}

}

.title-card__text{
	color: $color-primary-white;
	font-family: $font-family-secondary;
	font-size: $font-size-small;
	
	&--name{
		color: $color-primary-black;
		font-family: $font-family-primary;
		font-size: $font-size-medium;
	}

}

.footer{

	&__text{
		color: $color-primary-white;
		font-size: $font-size-small;
		font-family: $font-family-secondary;
		padding: 2rem;

		&--cpy{
			color: rgba($color-primary-white, $alpha: 0.6);
		}
	}
}


.imdb{
	

	&-card{

		&__text{
			color: $color-primary-white;
			font-family: $font-family-secondary;
			font-size: $font-size-small;
		}

	}

}