.imdb {

	background-color: $color-primary-black;
	text-align: center;
	min-height: 95vh;
	color: $color-primary-white;
	position: relative;
	

	&-card{
		margin-bottom: 2rem;
		&__img{
			width: 50%;
		}
		

	}

	&__success{
		position: absolute;
		background-color: green;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;

		&--heading-tertiary{
			padding: 2rem;
			color: $color-primary-white;
			font-family: $font-family-primary;
			font-size: $font-size-large;
		}
	}

}